.box {
	margin-top: 50px;
	height: 100%;
}

.badge-auto{
	position: relative;
	max-width: 117px;
	left: 24%;
}

.badge-motor{
	position: relative;
	max-width: 117px;
	left: 23%;
	top: 3px;
}

.badge-brommer{
	position: relative;
	max-width: 117px;
	left: 36%;
}

.box-auto{
	background: url(../img/svg/box-auto.svg) ;
	background-repeat: no-repeat;
	background-size: 302px 324px;
	height: 324px;
	width: 100%;
}

.box-brommer{
	background: url(../img/svg/box-brommer.svg) ;
	background-repeat: no-repeat;
	background-size: 302px 324px;
	height: 324px;
	width: 100%;
}

.box-motor{
	background: url(../img/svg/box-motor.svg) ;
	background-repeat: no-repeat;
	background-size: 257px 326px;
	margin-left: 20px;
	height: 324px;
	width: 100%;
}


.box-auto-content{
	background: url(../img/auto-les.png) ;
	background-size: 280px 250px;
	background-repeat: no-repeat;
	height: 229px;
	position: absolute;
	width: 245px;
	margin-left: 9px;
	margin-top: 12px;
}

.box-brommer-content{
	background: url(../img/brommer-les.png) ;
	background-size: 280px 250px;
	background-repeat: no-repeat;
	height: 229px;
	position: absolute;
	width: 235px;
	margin-left: 53px;
	margin-top: 10px;
}

.box-motor-content{
	background: url(../img/motor-les.png) ;
	background-size: 269px 250px;
	background-repeat: no-repeat;
	height: 226px;
	position: absolute;
	width: 238px;
	margin-left: 9px;
	margin-top: 12px;
}

.aanmeld-content-auto{
	width: 103%;
	height: 159px;
	margin-bottom: 26px;
	display: inline-block;
	background: url(../img/svg/blok-midden-auto.svg);
	background-size: 302px 159px;
	padding: 42px 37px 34px 1px;
	background-repeat: no-repeat;
	margin-top: -19px;
}

.aanmeld-content-motor{
	width: 95%;
	height: 152px;
	margin-bottom: 26px;
	display: inline-block;
	background: url(../img/svg/blok-midden-motor.svg);
	background-size: 275px 162px;
	padding: 41px 8px 22px 4px;
	background-repeat: no-repeat;
	margin-top: -16px;
	margin-left: 12px;
}

.aanmeld-content-brommer{
	width: 100%;
	height: 163px;
	margin-bottom: 21px;
	display: inline-block;
	background: url(../img/svg/blok-midden-brommer.svg);
	background-size: 312px 159px;
	padding: 42px 1px 34px 35px;
	background-repeat: no-repeat;
	margin-top: -19px;
}


.les-button{
	text-align: center;
	width: 100%;
}

.aanmeld-button-auto{
	width: 135px;
	height: 96px;
	color: #000000;
	font-weight: 700;
	padding: 27px 31px 39px 10px;
	background: url(../img/svg/button-bg-auto.svg);
	background-size: 130px 54px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	margin-left: 60px;
}

.aanmeld-button-motor{
	width: 135px;
	height: 96px;
	color: #000000;
	font-weight: 700;
	padding: 27px 22px 37px 19px;
	background: url(../img/svg/button-bg-motor.svg);
	background-size: 130px 54px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	margin-left: 90px;
}

.aanmeld-button-brommer{
	width: 135px;
	height: 96px;
	color: #000000;
	font-weight: 700;
	padding: 27px 14px 39px 28px;
	background: url(../img/svg/button-bg-brommer.svg);
	background-size: 130px 54px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-left: 100px;
}


.tabel-titel{
	text-align: right;
	padding-right: 25px;
}

.aantal-personen{
	color: #000000;
}

.les-prijs{
	right: 0;
	position: absolute;
	max-width: 41%;
	padding-top: 7px;
}

.korting-text{
	bottom: 0;
	position: absolute;
	height: 80px;
	width: 100%;
	padding-left: 10px;
	background: rgba(0, 0, 0, 0.7);
}

.korting{
	font-size: 22px;
	line-height: 5px;
	color: #f9a21e;
	font-weight: 700;
}


.tabel-text{
	font-size: 11px;
}

// WEBSHOP product form with # and datepicker
.form {
	margin-left: 22px;
	margin-right: -2px;
	width: 83%;
	.control-group {
		@include clearfix;
		display: block;
		.control-label {
			float: left;
			display: inline;
		}

		.controls input, .controls select {
			display: inline;
			float: right;
			width: 45%;
			color: #000000;
		}

	}

}




/**************************************
*********** Responsive mode ***********
**************************************/

/*Als screen max 450px is*/

@media all and (max-width: 450px) {



	.box-auto{
		background: url(../img/box-auto.png) ;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 324px;
		width: 100%;
	}

	.box-brommer{
		background: url(../img/box-brommer.png) ;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 324px;
		width: 100%;
	}

	.box-motor{
		background: url(../img/box-motor.png) ;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 324px;
		width: 100%;
		margin-left: 0;
	}

	.box-auto-content{
		background: url(../img/auto-les.png) ;
		background-size: 282px 250px;
		background-repeat: no-repeat;
		height: 228px;
		position: absolute;
		width: 75%;
		margin-left: 11px;
		margin-top: 79px;
	}

	.box-brommer-content{
		background: url(../img/brommer-les.png) ;
		background-size: 282px 250px;
		background-repeat: no-repeat;
		height: 228px;
		position: absolute;
		width: 75%;
		margin-left: 11px;
		margin-top: 79px;
	}

	.box-motor-content{
		background: url(../img/motor-les.png) ;
		background-size: 282px 250px;
		background-repeat: no-repeat;
		height: 228px;
		position: absolute;
		width: 75%;
		margin-left: 11px;
		margin-top: 79px;
	}

	.aanmeld-content-brommer, .aanmeld-content-auto, .aanmeld-content-motor{
		width: 100%;
		height: 145px;
		margin-bottom: 16px;
		display: inline-block;
		padding: 0px;
		margin-top: 20px;
		background: #636466;
		padding-top: 11px;
	}

	.aanmeld-button-brommer, .aanmeld-button-auto, .aanmeld-button-motor {
		width: 135px;
		height: 40px;
		color: #000000;
		font-weight: 700;
		padding: 10px 10px 10px 10px;
		background: #f9a21e;
		background-size: 282px 250px;
		background-repeat: no-repeat;
		margin-bottom: 20px;
		margin-left:auto;
		margin-right:auto;
	}

	.aanmeld-content-brommer table{
		margin-top: -44px;
		width:100%;
	}

	.aanmeld-content-auto table{
		margin-top: -44px;
		width:100%;
	}

	.aanmeld-content-motor table{
		margin-top: -44px;
		width:100%;
	}

	.badge-auto, .badge-brommer, .badge-motor {
		display: none;
	}



}



/*Als screen tussen 450px en 600px is*/

@media all and (min-width: 450px) and (max-width: 600px){


	.box-auto{
		background: url(../img/box-auto.png) ;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 429px;
		width: 100%;
	}

	.box-brommer{
		background: url(../img/box-brommer.png) ;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 429px;
		width: 100%;
	}

	.box-motor{
		background: url(../img/box-motor.png) ;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 429px;
		width: 100%;
		margin-left: 0;
	}

	.box-auto-content{
		background: url(../img/auto-les.png) ;
		background-size: 500px 342px;
		background-repeat: no-repeat;
		height: 331px;
		position: absolute;
		width: 87%;
		margin-left: 11px;
		margin-top: 90px;
	}

	.box-brommer-content{
		background: url(../img/brommer-les.png) ;
		background-size: 500px 342px;
		background-repeat: no-repeat;
		height: 331px;
		position: absolute;
		width: 87%;
		margin-left: 11px;
		margin-top: 90px;
	}

	.box-motor-content{
		background: url(../img/motor-les.png) ;
		background-size: 500px 342px;
		background-repeat: no-repeat;
		height: 331px;
		position: absolute;
		width: 87%;
		margin-left: 11px;
		margin-top: 90px;
	}

	.aanmeld-content-brommer, .aanmeld-content-auto, .aanmeld-content-motor{
		width: 100%;
		height: 100px;
		margin-bottom: 16px;
		display: inline-block;
		padding: 0px;
		margin-top: 20px;
		background: #636466;
		padding-top: 11px;
	}

	.aanmeld-button-brommer, .aanmeld-button-auto, .aanmeld-button-motor {
		width: 135px;
		height: 40px;
		color: #000000;
		font-weight: 700;
		padding: 10px 10px 10px 10px;
		background: #f9a21e;
		background-size: 282px 250px;
		background-repeat: no-repeat;
		margin-bottom: 20px;
		margin-left:auto;
		margin-right:auto;
	}

	.aanmeld-content-brommer table{
		margin-top: -44px;
		width:100%;
	}

	.aanmeld-content-auto table{
		margin-top: -44px;
		width:100%;
	}

	.aanmeld-content-motor table{
		margin-top: -44px;
		width:100%;
	}

	.badge-auto, .badge-brommer, .badge-motor {
		display: none;
	}



}



/*Als screen tussen 600px en 900px is*/
@media all and (min-width: 600px) and (max-width: 900px){



	.box-auto{
		background: url(../img/box-auto.png) ;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 324px;
		width: 100%;
	}

	.box-brommer{
		background: url(../img/box-brommer.png) ;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 324px;
		width: 100%;
	}

	.box-motor{
		background: url(../img/box-motor.png) ;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 324px;
		width: 100%;
		margin-left: 0;
	}

	.box-auto-content{
		background: url(../img/auto-les.png) ;
		background-size: 202px 250px;
		background-repeat: no-repeat;
		height: 228px;
		position: absolute;
		width: 26%;
		margin-left: 11px;
		margin-top: 79px;
	}

	.box-brommer-content{
		background: url(../img/brommer-les.png) ;
		background-size: 202px 250px;
		background-repeat: no-repeat;
		height: 228px;
		position: absolute;
		width: 26%;
		margin-left: 11px;
		margin-top: 79px;
	}

	.box-motor-content{
		background: url(../img/motor-les.png) ;
		background-size: 202px 250px;
		background-repeat: no-repeat;
		height: 228px;
		position: absolute;
		width: 26%;
		margin-left: 11px;
		margin-top: 79px;
	}

	.aanmeld-content-brommer, .aanmeld-content-auto, .aanmeld-content-motor{
		width: 100%;
		height: 135px;
		margin-bottom: 16px;
		display: inline-block;
		padding: 0px;
		margin-top: 20px;
		background: #636466;
		padding-top: 11px;
	}

	.aanmeld-button-brommer, .aanmeld-button-auto, .aanmeld-button-motor {
		width: 135px;
		height: 40px;
		color: #000000;
		font-weight: 700;
		padding: 10px 10px 10px 10px;
		background: #f9a21e;
		background-size: 282px 250px;
		background-repeat: no-repeat;
		margin-bottom: 20px;
		margin-left:auto;
		margin-right:auto;
	}

	.aanmeld-content-brommer table{
		margin-top: -44px;
		width:100%;
	}

	.aanmeld-content-auto table{
		margin-top: -44px;
		width:100%;
	}

	.aanmeld-content-motor table{
		margin-top: -44px;
		width:100%;
	}

	.badge-auto, .badge-brommer, .badge-motor {
		display: none;
	}

	.korting{
		font-size: 14px;
		line-height: 5px;
		color: #f9a21e;
		font-weight: 700;
	}

	.Footer p {
		line-height: 1.4em;
	}


}