.Content {

}


.slider {

}

.grey-bar{
	background: #1d1e20;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 50px;
}

.mid-titel{
	display: block;
	margin-top: 15px;
}

.mid-titel-text{
	display: inline;
	padding-left: 14px;
	vertical-align: middle;
	font-size: 20px;
}

.mid-titel-caption{
	display: block;
	padding-left: 44px;
	color: #b0b1b1;
	line-height: 70%;
}

.eind-text{
	text-align: center;
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 50px;
}



.google-play{
  display: block;
  margin-top: 30px;
}

#gform_submit_button_1{
	color: #000000;
}


@media all and (max-width: 600px) {

	.slideshow{
		margin-top: 50px;
	}

	.eind-text{
		font-size: 14px;
	}

	.mid-titel-text{
		font-size: 16px;
	}

	.mid-titel-caption{
		font-size: 12px;
	}

	.header-logo{
		width: 50%;
		margin-top: 20px;
		margin-left: -18px;
  	}

  	.grey-bar{
  		margin-top: 0px;
  	}

  	.aanmeld-content-motor, .aanmeld-content-auto, .aanmeld-content-brommer{
  		padding-top: 57px;
  	}

}


@media all and (max-width: 400px) {
	.header-logo{
    	width: 90%;
   	 	margin-top: 10px;
   	 	margin-left:0;
  	}

  	.aanmeld-content-motor, .aanmeld-content-auto, .aanmeld-content-brommer{
  		padding-top: 57px;
  	}
}
