.Content {

}


.slider {

}

.grey-bar{
	background: #1d1e20;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 50px;
}

.mid-titel{
	display: block;
	margin-top: 15px;
}

.mid-titel-text{
	display: inline;
	padding-left: 14px;
	vertical-align: middle;
	font-size: 20px;
}

.mid-titel-caption{
	display: block;
	padding-left: 44px;
	color: #b0b1b1;
	line-height: 70%;
}

.eind-text{
	text-align: center;
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.box {
	margin-top: 50px;
	height: 100%;
}

.box-auto{
	background: url(../img/box-auto.png) ;
	background-repeat: no-repeat;
	background-size: 302px 324px;
	height: 324px;
	width: 100%;
}

.box-brommer{
	background: url(../img/box-brommer.png) ;
	background-repeat: no-repeat;
	background-size: 302px 324px;
	height: 324px;
	width: 100%;
}

.box-motor{
	background: url(../img/box-motor.png) ;
	background-repeat: no-repeat;
	background-size: 302px 324px;
	height: 324px;
	width: 100%;
}

.box-auto-content{
	background: url(../img/auto-les.png) ;
	background-size: 282px 250px;
	background-repeat: no-repeat;
	height: 228px;
	position: absolute;
	width: 267px;
	margin-left: 17px;
	margin-top: 79px;
}

.box-brommer-content{
	background: url(../img/brommer-les.png) ;
	background-size: 282px 250px;
	background-repeat: no-repeat;
	height: 228px;
	position: absolute;
	width: 267px;
	margin-left: 17px;
	margin-top: 79px;
}

.box-motor-content{
	background: url(../img/motor-les.png) ;
	background-size: 282px 250px;
	background-repeat: no-repeat;
	height: 228px;
	position: absolute;
	width: 267px;
	margin-left: 17px;
	margin-top: 79px;
}

.aanmeld-content-auto{
	width: 103%;
	height: 150px;
	margin-bottom: 16px;
	display: inline-block;
	background: url(../img/svg/blok-midden-auto.svg);
	background-size: 302px 152px;
	padding: 51px 48px 34px 1px;
	background-repeat: no-repeat;
}

.aanmeld-content-motor{
	width: 100%;
	height: 132px;
	margin-top: 10px;
	margin-bottom: 25px;
	display: inline-block;
	background: url(../img/svg/blok-midden-motor.svg);
	background-size: 312px 145px;
	padding: 42px 8px 34px 4px;
	background-repeat: no-repeat;
}

.aanmeld-content-brommer{
	width: 103%;
	height: 150px;
	margin-bottom: 16px;
	display: inline-block;
	background: url(../img/svg/blok-midden-brommer.svg);
	background-size: 302px 152px;
	padding: 50px 1px 34px 27px;
	background-repeat: no-repeat;
}


.les-button{
	text-align: center;
	width: 100%;
}

.aanmeld-button-auto{
	width: 135px;
	height: 96px;
	color: #000000;
	font-weight: 700;
	padding: 27px 63px 39px 10px;
	background: url(../img/svg/button-bg-auto.svg);
	background-size: 130px 54px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

.aanmeld-button-motor{
	width: 135px;
	height: 96px;
	color: #000000;
	font-weight: 700;
	padding: 27px 22px 37px 19px;
	background: url(../img/svg/button-bg-motor.svg);
	background-size: 130px 54px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

.aanmeld-button-brommer{
	width: 135px;
	height: 96px;
	color: #000000;
	font-weight: 700;
	padding: 27px 27px 39px 28px;
	background: url(../img/svg/button-bg-brommer.svg);
	background-size: 130px 54px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	margin-left: 50px;
}


.tabel-titel{
	text-align: right;
	padding-right: 25px;
}

.aantal-personen{
	color: #000000;
}

.les-prijs{
	right: 0;
	position: absolute;
	max-width: 41%;
	padding-top: 7px;
}

.korting-text{
	bottom: 0;
	position: absolute;
	height: 80px;
	width: 100%;
	padding-left: 10px;
	background: rgba(0, 0, 0, 0.7);
}

.korting{
	font-size: 22px;
	line-height: 5px;
	color: #f9a21e;
	font-weight: 700;
}

.google-play{
  display: block;
  margin-top: 30px;
}

#gform_submit_button_1{
	color: #000000;
}


@media all and (max-width: 600px) {

	.slideshow{
		margin-top: 50px;
	}

	.eind-text{
		font-size: 14px;
	}

	.mid-titel-text{
		font-size: 16px;
	}

	.mid-titel-caption{
		font-size: 12px;
	}

	.header-logo{
    	width: 90%;
   	 	margin-top: 10px;
  	}

  	.grey-bar{
  		margin-top: 0px;
  	}

  	.box-motor-content, .box-auto-content, .box-brommer-content{
  		margin-left: 12px;
  	}

}