.Content {

}


.slider {

}

.grey-bar{
	background: #1d1e20;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 50px;
}

.mid-titel{
	display: block;
	margin-top: 15px;
}

.mid-titel-text{
	display: inline;
	padding-left: 14px;
	vertical-align: middle;
	font-size: 19px;
}

.mid-titel-caption{
	display: block;
	padding-left: 44px;
	color: #b0b1b1;
	line-height: 70%;
}

.eind-text{
	text-align: center;
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.google-play{
  display: block;
  margin-top: 30px;
}

#gform_submit_button_1{
	color: #000000;
}

.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
	width: 100% !important;
}

.controls{
 	color: #ffffff;
 }

 .checkout-amount{
 	color: #000000;
 	margin-right: 8px !important;
 }

.checkout-table{
	width: 100%;
	text-align: left;
	margin-bottom: 50px;
}

.deliverymethod-title, .deliverymethod-text, .payment-options, .checkout-explanation, .address-line-elsewhere, .delivery-elsewhere, .addthis_toolbox{
	display: none;
}

#invoice{
	width: 135px;
	height: 96px !important;
	color: #000000;
	font-weight: 700;
	padding: 16px 22px 37px 19px;
	background: url(../img/svg/button-bg-motor.svg);
	background-size: 130px 54px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	border: 0;
	&:hover{
		width: 135px;
		height: 96px !important;
		color: #000000;
		font-weight: 700;
		padding: 16px 22px 37px 19px;
		background: url(../img/svg/button-bg-motor.svg);
		background-size: 130px 54px;
		background-repeat: no-repeat;
		margin-bottom: 20px;
		border: 0;
	}
}

.gform_button{
	width: 135px;
	height: 96px !important;
	color: #000000;
	font-weight: 700;
	padding: 16px 22px 37px 19px;
	background: url(../img/svg/button-bg-motor.svg);
	background-size: 130px 54px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	border: 0;

	&:hover{
		width: 135px;
		height: 96px !important;
		color: #000000;
		font-weight: 700;
		padding: 16px 22px 37px 19px;
		background: url(../img/svg/button-bg-motor.svg);
		background-size: 130px 54px;
		background-repeat: no-repeat;
		margin-bottom: 20px;
		border: 0;
	}
}

.controls {
	@include clearfix;
}

.single-product .span8{
	@include span-columns(12);	
}

.single-product h3{
	display: none;
}

.single-product .aanmeld-button-motor{
	margin-left:78px;
}

.product-details{
	float: none;
}

#nav_menu-2{
	width: 100%;
}

.product-details{
	@include span-columns(12);	
}

.omschrijving{
	margin-top: 107px;
	margin-left: 30px;
}

.control-label .label{
	display: none;
}

.product-row-60383 .label{
	display: none;
}

.product-row-60381 .label{
	display: none;
}

.product-row-60382 .label{
	display: none;
}


.coupon-title{
	display: none;
}

#orderComment{
	width: 100%;;
	height: 235px;
}

input, textarea, select{
	color: #000000;
}

.table thead:first-child tr:first-child th{
	border-top:0;
}

.table td{
	border-top: 1px solid #2d2d2d;
}

.checkout-table td{
	padding-top: 10px;
	padding-bottom: 10px;
}

.text-right{
	width: 118px;
}

fieldset{
	border: 0px;
}

#order-form{
	margin-bottom:45px;
}

.ProductOptionSelector{
	color: #000000;
	background: #f99f00;
	border: 0;
}

.deliverycosts-row, .transactioncosts-row, .product-category{
	display: none;
}

.input-large{
	width: 330px;
}

.control-label{
	font-weight: bold;
}

.ideal-group p{
	font-weight: bold;	
}

.data-content{
	display: none;
}

.product-titel{
	font-size:16px;
	color: #f99f00;
}

.checkout{
	font-weight: bold;
}

.Content-entry{
	margin-bottom:45px;
}


label.error{
	display: inline-block;
	color: red;
}

.control-group{
	margin-bottom: 10px;
}

.adres-titel{
	font-weight: bold;
	font-size: 16px;
	margin-top: 40px;
}

.InfluencesSKU, .ProductOptionSelector, .product-amount-60383, .product-amount-60381, .product-amount-60382{
	width: 125px !important;
}

.qr_code{
	width: 200px;
	margin-top:20px;
}

#nav_menu-2{
	visibility:hidden;
}

.widget_text{
	list-style-type: none;
}

.omschrijving b{
	color: #f9a119;
}


.product-60383, .product-60381, .product-60382{
	margin-top: 50px;
}

.aanbieding{
	background: #262626;
	color: #ffa200;
	border-radius: 3px;
	padding: 10px;
	font-size: 20px;
	margin-top: 25px;
	text-align: center;
}

@media all and (min-width: 1200px) {
	.product-row{
	  width: 952px;
	  margin-left: -14px;
	}
}



@media all and (max-width: 1000px) {
	.header-space{
		margin-top: 55px;
	}

	.space{
		display: none;
	}

	.menu{
		width: 100%;
	}

	.text-right{
		width: 118px;
	}
}


@media all and (max-width: 600px) {

	.slideshow{
		margin-top: 50px;
	}

	.eind-text{
		font-size: 14px;
	} r

	.mid-titel-text{
		font-size: 16px;
	}

	.mid-titel-caption{
		font-size: 12px;
	}

	.header-logo{
		width: 50%;
		margin-top: 20px;
		margin-left: -18px;
  	}

  	.grey-bar{
  		margin-top: 0px;
  	}

  	.aanmeld-content-motor, .aanmeld-content-auto, .aanmeld-content-brommer{
  		padding-top: 57px;
  	}

  	.single-product .span8{
  		width: 100%;
  	}

  	.text-right{
		width: 118px;
	}

}


@media all and (max-width: 400px) {
	.header-logo{
    	width: 90%;
   	 	margin-top: 10px;
   	 	margin-left:0;
  	}

  	.aanmeld-content-motor, .aanmeld-content-auto, .aanmeld-content-brommer{
  		padding-top: 57px;
  	}

  	 .single-product .span8{
  		width: 100%;
  	}

  	.mid-titel-text{
		font-size: 16px;
	}

	.omschrijving{
		margin-top: 20px;
		margin-left: 0px;
		margin-bottom: 20px;
	}

	.checkout-table{
		font-size:10px;
	}

	.checkout-amount{
		width: 25px;
	}

	#order-form h3{
		font-size: 24px;
	}

	.text-right {
		width: 62px;
	}

	.input-large{
		width: 100%;
	}
}

