// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-size: cover;
  position: relative;
}

.Header-wrapper {
  position:relative
}

.Header-grey-bar{
  background-color: #636466;
}

.Header-telefoon, .Header-winkelmandje {
  float: right;
}

.Header-email {
  float: right;
  margin-right: 35px;
}

.header-space {
  margin-top: 12px;
}

.header-logo{
  margin: 0;
  position: absolute;
  display: inline;
}

.header-titel{
  margin: 0;
  display: inline;
  font-size: 21px;
  color: #3e3e3e;
  font-weight: 200;
  float: left;
}

.header-tel {
    float: right;
}

.header-imgTel{
  margin: 0;
  display: inline;
  vertical-align: middle;
  width: 31px;
  height: 31px;
}

.header-textTel{
  margin: 0;
  display: inline;
  font-size: 21px;
  color: #b0b1b1;
  font-weight: 400;
  vertical-align: middle;
}


.header-imgEmail{
  margin: 0;
  display: inline;
  vertical-align: middle;
  width: 31px;
  height: 31px;
}

.header-textEmail{
    margin: 0;
    display: inline;
    font-size: 21px;
    color: #b0b1b1;
    font-weight: 400;
    vertical-align: middle;
}


.header-winkelmandje{
     margin: 0;
     display: inline;
     font-size: 16px;
     color: #3e3e3e;
     font-weight: 200;
     vertical-align: middle;
     cursor: pointer;
}


@media all and (max-width: 600px) {
  
  .header-space {
    margin-top: 66px;
  }

  .Header-telefoon, .space{
    display: none;
  }

  .Navigation {
    padding-bottom: 10px;
    margin-left: 0;
  }

}


// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}

.space-opacity{
  opacity: 0;
  height: 1px;
}
