// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
    @include clearfix;
    text-align: left;
    background: #636466;
    font-size: 14px;
    color: white;
    margin-top:0px;
    font-family: $t-fontFamily;
    font-weight: 700;
    margin-left: 5px;
}

.Navigation ul {
  margin: 0; 
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
  text-decoration: none;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: block;
  float: left;
  //margin: 0 rem(6px);
  padding: 10px 24px 0px 22px;
  height: 40px;
  border-right: 1px solid $c-black;
  -webkit-transition:all 0.4s ease;
  -moz-transition:all 0.4s ease;
  -o-transition:all 0.4s ease;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
    border-right: 0;
  }
  &:hover {
    background: #f9a21e;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    -o-transition:all 0.4s ease;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  color: $c-white;
  display: block;
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}