// *************************************
//
// Settings
// -> Fonts, Variables
//
// *************************************

// -------------------------------------
// @font-face
// -------------------------------------


// -------------------------------------
// Variables
// -------------------------------------

$max-width: 70rem;
// ----- Colors ----- //

$c-black : #000000;
$c-blue  : #0070AF;
$c-white : #EFEFEF;

// ----- Layout ----- //
$l-whiteSpace: 0.5rem;
$l-insideGutter: 1rem;

// Borders & Box-shadows
$l-border         : 1px solid $c-black;
$l-borderRadius   : 3px;
$l-boxShadow      : 0 1px 2px rgba($c-black, 0.25);

// ----- Text ----- //

$t-fontFamily       : 'Quicksand', 'sans-serif';
$t-headerFontFamily : 'Quicksand', 'sans-serif';
$t-fontSize         : 14px;
$t-lineHeight       : 1.5;

$gridColSpan12Breakpoint: 640px;
